.ico {
    display: block;
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: 15px;
}

.link{
    display: flex;
    align-items: center;
    color: #666;
    font-size: 14px;
}

.link:hover {
    cursor: pointer;
}