.wrap{
    display: flex;
    font-size: 14px;
    margin-bottom: 10px;
}

.tableKey{
    width: 200px;
    color: #aaa;
}

.tableValue{
    width: 200px;
    color: #666;
    text-decoration: none;
    transition: 0.1s;
}

.tableValue:hover, .tableValue:focus {
    text-decoration: underline;
}