.wrap{
    display: flex;
    position: relative;
    margin-bottom: 10px;
}

.name{
    font-size: 13px;
    margin-right: 10px;
}

.counter{
    font-size: 13px;
    color: #777;
}

.counter:hover {
    cursor: pointer;
}

.updates{
    position: absolute;
    right: 0;
    font-size: 13px;
    color: #777;
}

.updates:hover{
    text-decoration: underline;
    cursor: pointer;
}
