.wrap {
    display: flex; 
    align-items: center;
}

.icon{
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.counter{
    color: #666;
    font-size: 14px;
}

.buttonWrap{
    padding: 0 10px;
    border-radius: 16px;
    background-color: #eee;
    margin-right: 10px;
    border: none;
    height: 32px;
    transition: 0.2s;
}

.buttonWrap:hover, .buttonWrap:focus {
    cursor: pointer;
}

.buttonWrap:active{
    cursor: pointer;
    transform: translateY(2px);
}